{% extends 'head.html' %}
{% block content_block %}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" background="/static/images/abanbj_03.jpg"><img src="/static/images/aboutus.jpg" width="1000" height="180" /></td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="24" background="/static/images/in_12.jpg">&nbsp;</td>
  </tr>
</table>

    <td width="720" valign="top"><table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
      <tr>
        <td width="71%" align="center" class="font_14 xuxian"><strong>关于我们</strong></td>
      </tr>
    </table>
        <table width="60%" border="0" cellpadding="0" cellspacing="20" align="center" class="hg_30">
          <tr valign="top">
            <td align="left">　辽宁国仁医疗评估咨询有限公司是一家集人才、技术、数据于一体的医疗软件开发公司。公司的核心服务项目主要是医院管理，绩效管理、预算管理、成本管理、医院投资战略管理、满意度评估等。公司研发的核心软件产中品是医院运营管理系统（HRP)。遵循国家政策方向，结合地方特点，为政府、医院及其他医疗机构提供数据分析，为医院的科学化管理提供优质服务。
                <br>
2015年，我公司成为辽宁省卫生经济学会合作单位。
                <br>2018年，公司成立医院管理研究院。<br>主要成员有卫生经济管理专家、注册会计师、医院管理专员、系统架构师、咨询顾问。
                </td> </tr><tr align="center">
              <td align="center">
                <br><img src="/static/images/5.jpg" alt=""><img src="/static/images/6.jpg" alt=""><img src="/static/images/7.jpg" alt=""><img src="/static/images/8.jpg" alt=""><img src="/static/images/9.jpg" alt="">
</td>
         </tr>
      </table></td>

{% endblock %}
