{% extends 'head.html' %}
{% block content_block %}
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" background="/static/images/abanbj_03.jpg"><img src="/static/images/case.jpeg" width="1000" height="180" /></td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="24" background="/static/images/in_12.jpg">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    </table>
        <table width="70%" border="0" cellpadding="0" cellspacing="20" align="center" class="hg_30">
          <tr valign="top">
            <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="5">
            {% if request.user.is_staff %}
             <tr>
             <td></td>
                <td align="center"><a href="{% url 'case_upload' %}" target="_blank"><img src="/static/images/add.jpg" width="360" height="200"  alt=""></a></td>
                <td></td>

                </tr>
            {% endif %}

            {% for foo in b %}
              <tr>
               {% for i in foo %}
                <td align="center"><a href="{% url 'casesite' %}?a={{ i.id }}" target="_blank"><img src="{{ i.image }}" width="360" height="250" border="0" /><br>{{ i.name }}</a>{% if request.user.is_staff %}
             <a href="{% url 'delete_case' %}?a={{ i.id }}">删除</a> {% endif %}
                   </td>
                {% endfor %}

              </tr>
               {% endfor %}




              <tr>
                <td height="50" colspan="3" align="center">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
      </table></td>
  </tr>
</table>

{% endblock %}
